main {
    background-color: aquamarine;
}

* {
    font-family: "Roboto";
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

h1 {
    color: white;
    font-size: 144px;
    font-weight: 300;
}